:host {
  display: block;
  height: 80px;
  position: relative;
}

nav{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  height: 100%;
  background-color: rgba(65,81, 101, 0.9);
  .logo{
    font-size: 24px;
    font-weight: 600;
    color: #dadbdd;
    flex: 1;
  }
  .nav-menu{
    flex: 1;
    display: flex;
    justify-content: space-between;
    max-width: 550px;
    li{
      list-style: none;
      color: #dadbdd;
      font-weight: 600;
    }
    &.open{
      transform: translateX(0);
    }
  }
}

.burger {
  display: none;
  span{
    transition: 0.3s ease-in-out 0.3s;
    display: block;
    width: 25px;
    height: 3px;
    background-color: #dadbdd;
    margin: 4px;
  }
  &.active {
    .top-line{
      transform: rotate(45deg) translate(4px, 6px);
    }

    .middle-line{
      opacity: 0;
      transform: translateX(10px);
      transition: 0.3s ease-in-out;
    }

    .bottom-line{
      transform: rotate(-45deg) translate(4px, -6px);
    }
  }
}

@media screen and (max-width: 768px){
  .burger{
    display: block;
  }
  .nav-menu{
    position: absolute;
    top: 80px;
    right: 0;
    bottom: 0;
    width: 50vw;
    height: calc(100vh - 80px);
    background-color: rgba(65, 81, 101, 0.9);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transform: translateX(100%);
    transition: 0.4s ease-in-out;

    li{
      margin: 3vh;
      transform: translateX(20px);
      opacity: 0;
    }
  }
}

@keyframes sliderIn {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
